<div class="container">
  <div class="create-event-wrapper border-blue">
    <h1>UPDATE YOUR EVENT</h1>

    <%= form_for(@event) do |f| %>
      <div class="form-group event-info">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control event-field' %>
      </div>

      <div class="form-group event-info">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control event-field' %>
      </div>

      <div class="form-group event-info">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control event-field' %>
      </div>

      <div class="form-group event-info">
        <%= f.label :start_date %>
        <%= f.text_field :start_date, class: "datepicker form-control event-field" %>
      </div>

      <div class="form-group event-info">
        <%= f.label :end_date %>
        <%= f.text_field :end_date, class: "datepicker form-control event-field" %>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-4 col-sm-offset-2">
          <%= f.submit class: 'btn button-form button-create' %>
        </div>
    <% end %>
        <div class="col-xs-6 col-sm-4">
          <%= link_to "Back", events_path, class: "btn button-form button-create" %>
        </div>
  </div>
</div>
