<div>
  <%= form_tag(events_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Event" %>
    <%= submit_tag "Search", :name => nil %>
<% if @events.blank? %>
  <h4>There are no events containing the term <%= params[:search] %>.</h4>
<% end %>
<% end %>
</div>

<h1>Events</h1>

<% @events.each do |event| %>
<ul>
  <li>
    <p> <strong><%= link_to event.title, event_path(event) %></strong></p>
    <p> <%= event.description %></p>
    <p> from: <%= event.start_date.strftime("%d/%m/%Y") %> -  to: <%= event.end_date.strftime("%d/%m/%Y") %></p>
    <p> <%= event.venue %></p>
    <p> <%= event.address %></p>
      <% if current_user.role == "employer" %>
        <p> <%= link_to "Update Event", edit_event_path(event) %> -- <%= link_to "Delete Event", event_path(event),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>
      <% end %>
  </li>
</ul>
<% end %>
<% if current_user.role == "employer" %>
  <p> <%= link_to "new event", new_event_path %></p>
<% end %>
