<div class="container">

    <div class="events-wrapper">

      <h1 class="candidates-index-title"> My Events</h1>
      <% if @events.empty? %>
        <h4 class="nothing-to-display"> You have no events to display <br><br>
      <%= link_to "Create an event", new_event_path, class: "btn btn-right-side-secondary-employer"%></h4>
      <% else %>

      <div class="events-search-and-create">
        <div class="form-group events-search">
          <%= form_tag(events_path, :method => "get", class: "form-inline") do %>
            <%= text_field_tag :search, params[:search], placeholder: " Search an event within all your events", id: "events-search-form", class: "form-group" %>
            <%= submit_tag "Search", :name => nil, class: "button-search-employer" %>
            <% if @events.blank? %>
              <h4>No results</h4>
            <% end %>
          <% end %>
        </div>
        <div class="events-create">
          <% if current_user.role == "employer" %>
            <%= link_to "Create new event", new_event_path, class: "btn btn-right-side-secondary-employer"%>
          <% end %>
        </div>
      </div>

      <div class="events-list-wrapper">

          <% @events.each do |event| %>
              <div class="events-card border-blue" style="margin-top: 25px">
                <div class="event-card-flex">
                  <div class="event-details">
                    <div class="event-details-top">
                        <h3><%= link_to event.title, event_path(event) %></h3>
                        <p> <%= event.description %></p>
                    </div>
                    <div class="event-details-middle">
                      <% if event.start_date != nil  %>
                        <p> From: <%= event.start_date.strftime("%d/%B/%Y") %> </p>
                        <p>  To: <%= event.end_date.strftime("%d/%B/%Y") %></p>
                      <%end  %>
                    </div>
                    <div class="event-details-bottom">
                        <p> <%= event.venue %></p>
                        <p> <%= event.address %>, <%= event.city %>, <%= event.zip_code %> </p>
                    </div>
                  </div>

                    <% if current_user.role == "employer" %>
                      <div class="event-buttons">
                        <%= link_to "Update Event", edit_event_path(event), class: "btn btn-right-side-secondary-employer event-update" %>
                        <%= link_to "Delete Event", event_path(event),
                          method: :delete,
                          data: { confirm: "Are you sure?" }, class: "btn btn-right-side-secondary-employer event-delete" %>
                        <%= link_to "Create Job", new_event_job_listing_path(event), class: "btn btn-right-side-secondary-employer event-create-job" %>

                      </div>
                  <% end %>
                </div>
              </div>
          <% end %>

      </div>

    <% end %>
    </div>
</div>
