<div class="container">
  <div class="create-event-wrapper border-blue">
    <h1>CREATE A JOB: STEP 1</h1>

    <p class="text-center">Create the Event your staff will work for</p>

    <%= form_for(@event) do |f| %>
      <div class="form-group event-info">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control event-field', placeholder: "Insert event title" %>
      </div>

      <div class="form-group event-info">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control event-field', placeholder: "Insert event description" %>
      </div>

      <div class="form-group event-info">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control event-field', placeholder: "Insert event address" %>
      </div>

      <div class = "row">
        <div class="form-group col-xs-6 event-info">
          <%= f.label :start_date %> <br>
          <%= f.text_field :start_date, as: :string, required: true, class: "datepicker form-control event-field" %>
        </div>


        <div class="form-group col-xs-6 event-info">
          <%= f.label :end_date %> <br>
          <%= f.text_field :end_date, as: :string, required: true, class: "datepicker form-control event-field" %>
        </div>
      </div>
      <div class = "row">
        <div class="col-xs-8 col-sm-6 col-sm-offset-3">
          <%= f.submit class: 'btn button-form button-create' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


