
<div class ="container">
  <h1 class="candidates-index-title"> Offers I received from an employer</h1>

  <% if @received_offers.empty? %>

      <h4 class="nothing-to-display"> You have no offers to display </h4>

  <% else %>

  <div class="events-list-wrapper">
    <% @received_offers.each do |o| %>
      <div class="cards-wrapper-flex card-with-link">
        <div class="offers-card-flex border-green-right">
          <%= link_to job_listing_path(o.job_listing) do %>
            <p id="company-name"><span id="company-name-label"><em> Company: </em></span><br> <%= o.job_listing.event.user.company_name %> </p>
        </div>

        <div class="second-offers-card border-green-right">
          <div>
            <p><strong>Event: </strong> <%= o.job_listing.event.title %></p>
            <p><strong>Job offered: </strong> <%= o.job_listing.title %></p>
            <p><strong>Start date:</strong> <%= o.start_date.strftime("%A, %d %B %Y") %><strong> - </strong><strong>End date:</strong> <%= o.end_date.strftime("%A, %d %B %Y") %>
            </p>
          </div>
          <div>
            <p>
            <strong>Total salary: <%= o.job_listing.salary %> <%= o.job_listing.currency %></strong>
            </p>
          </div>
        </div>



        <div class="third-offers-card border-green">
          <p><strong>Offer Received:</strong> <br> <%= o.created_at.strftime("%A, %d %B %Y") %></p>
          <div class="applicants-accept-decline">
            <%= link_to "Accept", velaj_path(o, :status => "accepted"), class: "btn btn-accept"%>
            <%= link_to "Decline", velaj_path(o, :status => "declined"), class: "btn btn-danger btn-decline"%>
          </div>
        </div>

      </div>

      <% end %>
      <% end %>
    </div><!-- total wrapper -->
  <% end %>

  </div> <!-- container -->
