
<!-- height: 300, width: 400, crop: :fill -->
<%= link_to candidate_job_listings_path(user.id) do %>

    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(user.photo) %>);">


        <div class="card-name-age">
          <% age =  Date.today.year - user.date_of_birth.year  %>
          <% age -= 1 if Date.today < user.date_of_birth.year + age.years  %>
          <h2>
            <%= user.first_name %>, <%= age %>
          </h2>
        </div>
        <div class="card-description">
          <p><%= user.language %></p>
        </div>
        <div class="rating-star">
          <p>
          <% rand(3..4).times do  %>
          <span class="glyphicon glyphicon-star"></span>
          <% end %>
          </p>
        </div>

    </div>

<% end %>
