<div class="container">


    <div class ="row profile-row1 ">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="avatar-cropper">
        <%= image_tag (cl_image_path(@user.photo)) %>
      </div>

      </div>
      <div class = "profile-main-info col-xs-12 col-sm-6 col-md-3">
        <% age =  Date.today.year - @user.date_of_birth.year  %>
        <% age -= 1 if Date.today < @user.date_of_birth.year + age.years  %>
        <h5 ><%= @user.first_name %>, <%= age %></h5>
        <p><%= @user.gender %></p>
        <p>Milano</p>
        <p><%= @user.language %></p>
      </div>
      <div class = "profile-join-info col-xs-12 col-sm-6 col-md-3">
        <h5>I can join u as a:</h5>

            <p>Promoter</p>
            <p>Event Assistant</p>
          </ul>
      </div>
      <div col-xs-12 col-sm-6 col-md-3">
        <div class="mission-number", style= "margin-top: 0px">
          <h5>Number of Staffize mission: </h5> 5 times
        </div>
        <div class="profile-show-rating">
          <p>
          <% rand(1..5).times do  %>
          <span class="glyphicon glyphicon-star"></span>
          <% end %>
          </p>
        </div>

      </div>
    </div>

    <div class =" row profile-row2">
      <div style= "width: 80%";>
      <%= simple_form_for @booking do |f| %>
          <%= f.input :user, :input_html => { :value => @user.id }, as: :hidden %>
          <% if !current_user.job_listings.nil? %>
          <%= f.association :job_listing, collection: current_user.job_listings, selected: current_user.job_listings.first %>
          <% else %>
          <%= flash[:alert] = "You have not created any jobs" %>
          <% end %>
      <% end %>
    </div>
      <div class ="button-offer">
        <%= submit_tag 'Offer a job', class: 'btn btn-primary' %>
      </div>


    </div>


    <div class="row profile-row3" >
        <div class="profile-image col-xs-12 col-sm-4"; style="padding: 0px;">
        <%= image_tag (cl_image_path(@user.photo))  %>
        </div>

        <div class="profile-presentation col-xs-12 col-sm-7 col-sm-offset-1">

          <h5> My presentation </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aperiam voluptatum sint facere magnam, architecto laborum quia consequuntur cupiditate totam assumenda suscipit ut libero quidem fuga magni dicta mollitia praesentium.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aperiam voluptatum sint facere magnam, architecto laborum quia consequuntur cupiditate totam assumenda suscipit ut libero quidem fuga magni dicta mollitia praesentium</p>

        </div>
         <div class= "profile-experiences col-xs-12 "  >
        <h5>My Experiences:</h5><p class="profile-experiencesx"> <%= @user.experience %></p>
      </div>

    </div>




  </div>




</div>


