<div>
  <%= form_tag(job_listings_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Jobs" %>
    <%= submit_tag "Search", :name => nil %>
<% if @job_listings.blank? %>
  <h4>There are no job listings containing the term <%= params[:search] %>.</h4>
<% end %>
<% end %>
</div>

<h1>Job Listings</h1>
<div class = "job-listings">
<% @job_listings.each do |job| %>
<div class ="job-listing-cards">
<h3><%= link_to job.title, job_listing_path(job) %></h3>
<p><%= job.description %></p>
<p>Dates: <%= job.start_date.strftime("%d %m %Y") %> // <%= job.end_date.strftime("%d %m %Y") %></p>
<p><%= job.event.title %></p>
<p><%= job.event.venue %></p>
<p><%= job.salary %> <%= job.currency %></p>
</div>
</div>
<% end %>

