<div>
  <%= form_tag(job_listings_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Jobs" %>
    <%= submit_tag "Search", :name => nil %>
<% if @job_listings.blank? %>
  <h4>There are no job listings containing the term <%= params[:search] %>.</h4>
<% end %>
<% end %>
</div>

<h1>Job Listings</h1>

<% @job_listings.each do |job| %>
<ul><li><%= link_to job.title, job_listing_path(job) %></li></ul>
<% end %>

