<% if current_user && current_user.role == "employer" %>
    <div class="container">
      <div class="employer-job-listings">
        <% @job_listings.each do |job| %>
        <div class="row" style="display: -webkit-box; margin-bottom: 20px">
          <div class="job-listing-cards-employer jobcard">
            <div class="job-details">
              <div class="job-details-top">
                <h3><%= link_to job.title, job_listing_path(job), id:"job-title"  %></h3>
                <%= link_to "View job", job_listing_path(job), class: "btn button-view-job-employer text-right" %>
                <p><%= job.description %></p>
              </div>
              <div class="job-details-middle">
                <p>From: <%= job.start_date.strftime("%d %B %Y") %> </p> <p> To: <%= job.end_date.strftime("%d %B %Y") %></p>
              </div>
             <!--  <div class="job-details-middle">
                <span>Event:</span> <%= link_to job.event.title, event_path(job.event) %>
              </div> -->
              <div class="job-details-bottom">
                <div class="job-details-bottom-venue col-xs-7 col-sm-6 col-md-8">
                  <p><%=job.event.venue %>, <%= job.event.city %>, <%= job.event.province %></p>
                </div>
                <div class="job-details-bottom-salary col-xs-5 col-sm-6 col-md-4">
                  <span>Total salary:</span> <span><%= job.salary %> <%= job.currency %></span>
                </div>
              </div>
            </div>
          </div>

          <div class="job-status-cards statuscard">
            <h3>Status</h3>
            <ul>
              <li>
                Job created: <%= job.created_at.strftime("%d %B %Y")%>
              </li>
              <li>
                <%= link_to "#{job.bookings.count}" + " applied", my_applicants_job_listing_path(job) %>
              </li>
              <li>
                <% counter = 0 %>
                <% job.bookings.each do |booking|%>
                  <% if booking.status == "declined" %>
                    <% counter += 1 %>
                  <% end %>
                <% counter %>
                <% end %>
                <%= counter %> declined
              </li>
              <li>
                <% counter_2 = 0 %>
                <% job.bookings.each do |booking|%>
                  <% if booking.status == "accepted" %>
                    <% counter_2 += 1 %>
                  <% end %>
                <% counter_2 %>
                <% end %>
                <%= counter_2 %> accepted
              </li>
              <li>
                <% counter_2 = 0 %>
                <% job.bookings.each do |booking|%>
                  <% if booking.status == "pending" %>
                    <% counter_2 += 1 %>
                  <% end %>
                <% counter_2 %>
                <% end %>
                <%= counter_2 %> pending
              </li>
            </ul>
          </div>
          </div>
        <% end %>
      <!-- job-listings end -->
      </div>
    <!-- container end -->
    </div>
  <% else %>
    <div class="container">
      <div class="flex-container">
        <div class="sidebar">
          <div class="filters">
            <h3>Filter by:</h3>
            <div class="filtercategory">
              <div class="filteritem">
                <%= simple_form_for :category, :url => job_listings_path, :method => :get do |f| %>
              </div>
              <div class="filteroptions">
                <%= f.input :job_category , collection: @categories, as: :check_boxes, required: false  %>
                <%= f.button :submit, value: "Apply filters", class: "btn button-filters" %>

                <%end  %>
              </div>
            </div>
            <div class="filtercategory filtersearch">
              <legend class="filter-label">Location</legend>
            </div>
              <div class="filteroptions filtersearch">
                <form class="navbar-form" method="get" action="/job_listings">
                  <div class="form-group">
                    <input type="text" name="search_value" class="form-control-sm" placeholder="Search" id="search-in-filter">
                  </div>
                  <button type="submit" class="btn-default" id="search-icon"><span class="glyphicon glyphicon-search" ></span></button>
                </form>
              </div>
              <div class="filtercategory">
                <div class="filteritem">
                  <%= simple_form_for :gender, :url => job_listings_path, :method => :get do |f| %>
                </div>
                <div class="filteroptions">
                  <%= f.input :gender , collection: @gender_list, as: :check_boxes, required: false  %>
                  <%= f.button :submit, value: "Apply filters", class: "btn button-filters" %>

                  <%end  %>
                </div>
              </div>
          </div>
        <!-- left-side end -->
        </div>

        <div class="row right-side job-listings">
          <div class="row">
            <div class="col-xs-10 col-md-7">
              <div class="form-group jobs-searchbar">
                <%= form_tag(job_listings_path, :method => "get", class: "form-inline") do%>
                <%= text_field_tag :search, params[:search], placeholder: "Search Jobs", id: "jobs-search-candidate", class: "form-group" %>
                <%= submit_tag "Search", :name => nil, class: "form-group button-search-candidate" %>
                <% if @final.blank? %>
                  <h4>No results</h4>
                <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-xs-2 col-md-5">
              <div class="sort-by">
                <p></p>
              </div>
            </div>
          </div>

          <% @final.each do |job| %>
          <div class="job-details">
              <div class="col-xs-10 col-sm-8 col-md-6 job-listing-cards-candidate">
                <div class="job-details-top">
                  <h3><%= link_to job.title, job_listing_path(job), id:"job-index-title" %>
                  </h3>
                  <p><%= job.description %></p>
                  <div class="text-right">
                    <%= link_to "More info", job_listing_path(job), class: "btn button-view-job" %>
                  </div>
                </div>
                <div class="job-details-middle">
                  <p>From: <%= job.start_date.strftime("%d %B %Y") %> </p> <p> To: <%= job.end_date.strftime("%d %B %Y") %></p>
                </div>
               <!--  <div class="job-details-middle">
                  <span> Event:</span> <%= link_to job.event.title, event_path(job.event) %>
                </div> -->
                <div class="job-details-bottom">
                  <div class="job-details-bottom-venue col-xs-7 col-sm-6 col-md-7">
                    <p><span><%= job.event.venue %></span>, <span><%= job.event.city %>, <%= job.event.province %></span></p>
                  </div>
                  <div class="job-details-bottom-salary col-xs-5 col-sm-6 col-md-5">
                    <span>Total salary:</span> <span><strong><%= job.salary %> <%= job.currency %></strong></span>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <!-- job-listings end -->
      </div>
      <!-- flex-container end -->
    </div>
    <!-- container end -->
  </div>
  <% end %>
